<!DOCTYPE html>
<html lang="en">

<head>
    <meta http-equiv="refresh" content="1;url=/<%= route %>" />
    <%- include('../partials/head') -%>
</head>

<body>

    <div class="alert alert-<%= status %>" style="margin: 50px auto auto auto;">
        <strong>
            <%= message1 %>
        </strong>
        <%= message2 %>
    </div>
</body>

</html>