<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%>
        <style>
            .btnDelete,
            .btnEdit {
                font-size: 15px;
            }

            .btnDelete {
                color: red;
            }

            .btnEdit {
                color: #1761fd;
            }

            *[id$=errors] {
                color: red;
                font-style: italic;
            }

            .modal {
                display: none;
                position: fixed;
                z-index: 1;
                padding-top: 100px;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background-color: rgb(0, 0, 0);
                background-color: rgba(0, 0, 0, 0.4);
            }

            .modal-content {
                background-color: #fefefe;
                margin: auto;
                border-radius: 4px;
                width: 20%;
            }

            .table th {
                font-size: medium;
                font-weight: 1000;
            }

            h1 {
                text-align: center;
            }

            h4 {
                font-weight: 1000;
            }
        </style>
</head>

<body>
    <%- include('../partials/leftsidebar') -%>
        <div class="page-wrapper">
            <!-- Top Bar Start -->
            <%- include('../partials/topbar') -%>

                <!-- Top Bar End -->
                <!-- Page Content-->
                <div class="page-content">

                    <div class="card">

                        <div class="card-header">
                            <h1 class="font-54 fw-bold mt-10 mb-4">Quản lí sinh viên</h1>
                        </div>
                        <!--end card-header-->
                        <div class="card-body">
                            <!-- id="datatable" -->
                            <% if (typeof(phong) !="undefined" ) { %>
                                <h4>Danh sách sinh viên phòng <%= phong %>
                                </h4>
                                <% } else{ %>
                                    <h4>Danh sách biên bản</h4>
                                    <% } %>
                                        <table id="datatable"
                                            class="table table-bordered dt-responsive nowrap table-striped table-hover"
                                            style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                            <thead>
                                                <tr>
                                                    <th>Mã sinh viên</th>
                                                    <th>Lý do</th>
                                                    <th>Ngày ghi nhận</th>

                                                </tr>
                                            </thead>
                                            <tbody>
                                                <!-- ... -->
                                                <% for(let i=0; i < dsbb.length; i++){ %>
                                                    <tr>
                                                        <td>
                                                            <a href="/ktx/sinhvien/<%= dsbb[i].masv %>">
                                                                <%= dsbb[i].masv %>
                                                            </a>
                                                        </td>
                                                        <td>
                                                            <%= dsbb[i].lydo %>
                                                        </td>
                                                        <td>
                                                            <%= dsbb[i].ngayghinhan %>
                                                        </td>
                                                    </tr>

                                                    <% } %>

                                            </tbody>
                                        </table>
                        </div>
                    </div>





                    <!--end card-->
                    <!-- container -->
                    <footer class="footer text-center text-sm-start">
                        ©
                        <script>
                            document.write(new Date().getFullYear())
                        </script>
                        2021 Dastone <span class="text-muted d-none d-sm-inline-block float-end">Crafted
                            with <i class="mdi mdi-heart text-danger"></i> by Mannatthemes
                        </span>
                    </footer>
                    <!--end footer-->
                </div>
                <!-- end page content -->
        </div>
        <%- include('../partials/footer') -%>

</body>

</html>