<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('../partials/head') -%>
        <style>
            .btnDelete,
            .btnEdit {
                font-size: 15px;
            }

            .btnDelete {
                color: red;
            }

            .btnEdit {
                color: #1761fd;
            }

            *[id$=errors] {
                color: red;
                font-style: italic;
            }

            .modal {
                display: none;
                position: fixed;
                z-index: 1;
                padding-top: 100px;
                left: 0;
                top: 0;
                width: 100%;
                height: 100%;
                overflow: auto;
                background-color: rgb(0, 0, 0);
                background-color: rgba(0, 0, 0, 0.4);
            }

            .modal-content {
                background-color: #fefefe;
                margin: auto;
                border-radius: 4px;
                width: 20%;
            }

            .table th {
                font-size: medium;
                font-weight: 1000;
            }

            h1 {
                text-align: center;
            }

            h4 {
                font-weight: 1000;
            }
        </style>
</head>

<body>
    <%- include('../partials/leftsidebar') -%>
        <div class="page-wrapper">
            <!-- Top Bar Start -->
            <%- include('../partials/topbar') -%>

                <!-- Top Bar End -->
                <!-- Page Content-->
                <div class="page-content">

                    <div class="card">


                        <!--end card-header-->
                        <div class="card-body">
                            <!-- id="datatable" -->
                            <h4>Danh sách các loại phòng</h4>
                            <table id="datatable"
                                class="table table-bordered dt-responsive nowrap table-striped table-hover"
                                style="border-collapse: collapse; border-spacing: 0; width: 100%;">
                                <thead>
                                    <tr>
                                        <th>Mã</th>
                                        <th>Loại phòng</th>
                                        <th>Giới tính</th>
                                        <th>Giá</th>
                                        <th>Hiện có</th>
                                        <th></th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <!-- ... -->
                                    <% for(let i=0; i < dslp.length; i++){ %>
                                        <tr>
                                            <td>
                                                <%= dslp[i].maloaiphong %>
                                            </td>
                                            <td>
                                                <%= dslp[i].tenloaiphong %>
                                            </td>
                                            <td>
                                                <%= dslp[i].gioitinh %>
                                            </td>
                                            <td>
                                                <%= dslp[i].gia %>
                                            </td>
                                            <td>
                                                <%= dslp[i].hienco %>
                                            </td>
                                            <td><a class="btnEdit"
                                                    href="/ktx/loaiphong/edit/<%= dslp[i].maloaiphong %>"><i
                                                        class="ti-settings"></i></a></td>
                                            <td><a class="btnDelete"
                                                    href="/ktx/loaiphong/delete/<%= dslp[i].maloaiphong %>"><i
                                                        class="ti-close"></i></a></td>
                                        </tr>

                                        <% } %>

                                </tbody>
                            </table>
                        </div>
                    </div>
                    <% if (typeof(error) !="undefined" ) { %>
                        <span style="color:red;font-weight:550; text-align:center">
                            <%= error %>
                        </span>
                        <% } %>
                            <div class="card">
                                <div class="card-header">
                                    <div class="row align-items-center">
                                        <div class="col">
                                            <h4 class="card-title">Thông tin sinh viên</h4>
                                        </div>
                                        <!--end col-->
                                    </div>
                                    <!--end row-->
                                </div>
                                <div class="card-body">

                                    <form method="post">
                                        <div class="form-group row">
                                            <label
                                                class="col-xl-3 col-lg-3 text-end mb-lg-0 align-self-center">Mã</label>
                                            <div class="col-lg-9 col-xl-8">
                                                <input name="maloaiphong" class="form-control" type="text" required />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-xl-3 col-lg-3 text-end mb-lg-0 align-self-center">Tên
                                                loại</label>
                                            <div class="col-lg-9 col-xl-8">
                                                <input name="tenloaiphong" class="form-control" type="text" required />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label class="col-xl-3 col-lg-3 text-end mb-lg-0 align-self-center">Giới
                                                tính</label>
                                            <div class="col-lg-9 col-xl-8">
                                                <select name="gioitinh" id="">
                                                    <option value="All" selected>Cả hai</option>
                                                    <option value="Nam">Nam</option>
                                                    <option value="Nữ">Nữ</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <label
                                                class="col-xl-3 col-lg-3 text-end mb-lg-0 align-self-center">Giá</label>
                                            <div class="col-lg-9 col-xl-8">
                                                <input name="gia" class="form-control" type="number" required />
                                            </div>
                                        </div>

                                        <div class="form-group row">
                                            <div class="col-lg-9 col-xl-8 offset-lg-3">
                                                <button type="submit"
                                                    class="btn btn-sm btn-outline-primary">Thêm</button>
                                                <button onclick="location.href ='/ktx'"
                                                    class="btn btn-sm btn-outline-danger">Hủy
                                                    bỏ</button>
                                            </div>
                                        </div>


                                    </form>
                                </div>
                            </div>
                            <!--end card-header-->




                            <!--end card-->
                            <!-- container -->
                            <footer class="footer text-center text-sm-start">
                                ©
                                <script>
                                    document.write(new Date().getFullYear())
                                </script>
                                2021 Dastone <span class="text-muted d-none d-sm-inline-block float-end">Crafted
                                    with <i class="mdi mdi-heart text-danger"></i> by Mannatthemes
                                </span>
                            </footer>
                            <!--end footer-->
                </div>
                <!-- end page content -->
        </div>
        <%- include('../partials/footer') -%>

</body>

</html>